<div class="filter_container">
  <div class="filter_form">
     
                <label class= " filter_label" for="Model">Model:</label>
                <select id="Model">
                    <option value="1">BMW</option>
                    <option value="2">Audi</option>
                    <option value="3">Scoda</option>
                </select>

                <label class= " filter_label"for="Make">Make:</label>
                <select id="Make">
                    <option value="1">2023</option>
                    <option value="2">2022</option>
                    <option value="3">2021</option>
                </select>

    </div>
</div>