<div class="container">
    <h2 class="center text_1">Welcome</h2>
    <h2 class="center text_1 ">Car Rental Services</h2>
    <h2 class="center">
     <a href="/displayLoginForm" class="btn btn-info "> Login with Email </a>
    </h2>
    {{!-- <h2 class="center">
     <a href="/auth/facebook" class="btn btn-info "> Login with facebook </a>
    </h2> --}}
    <h5 class="center">
         <a href="/signup" class="btn btn-info "> signup </a>
       
    </h5>
</div>

<style>
    body{
        background: url('/image/bg.jpg') no-repeat center center fixed;
         -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        }
        .text_1{
            text-decoration: dashed;
            size: 30px;
            color: rgb(67, 206, 67);
        }
</style>